<%= link_to "New Page", new_admin_page_path, :class => "btn btn-primary" %>

<table class="table">
  <thead>
  <tr>
    <th>Page</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td>
          <%= link_to 'View', "/#{page.name}" %>&nbsp;|&nbsp; <%= link_to 'Edit', edit_admin_page_path(page) %>&nbsp;|&nbsp;<%= link_to 'Delete', admin_page_path(page), :confirm => "Are you sure?", :method => :delete %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>